@charset "utf-8"

//Colours
$blue: #2f3c89
$black: #0f110c
$red: #ff5a5f
$green: #aafac8
$white: #f5f5f5

//variables-color
$primary: $blue
$warning: $white

//variables-size
$size-1: 4rem




@import "../../../node_modules/bulma/bulma.sass"
