<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css"/>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  </head>
  <body>
    <div class="hero is-medium is-primary">
      <div class="hero-body">
        <p class="title has-text-centered has-text-info is-size-1 has-text-weight-light is-italic is-family-primary">
          Heatmaps
        </p>
        <p class="subtitle has-text-centered has-text-info is-family-primary">
          Get live updates about the world
        </p>
      </div>
    </div>
  </body>
</html>
